body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Montserrat";
}

.container {
  margin-right: 300px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.next-btn {
  background-color:#1e6c91;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding: 10px 30px;
  min-height:30px; 
  min-width: 120px;
  margin-top: 20px;
  font-family: "Montserrat";
}

.next-btn:hover {
  background-color: #1e6d91ce;
}

.emoji-btn {
  margin-top: 30px;
  border-radius:6px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border:none;
}
.emoji-btn:hover {
  background-color: #ffffff10;
}
